* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: linear-gradient(115deg, #75188f, #75167a, #410a47);
  background-attachment: fixed;
}
