.wrapper {
  background-color: #fcfbfc;
  width: 1000px;
  height: 600px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 0px 4px 12px rgba(0, 0, 0, 0.64);
  -webkit-box-shadow: 0px 0px 4px 12px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 0px 0px 4px 12px rgba(0, 0, 0, 0.64);
  margin: auto;
  margin-top: 50px;
}
h1 {
  text-align: center;
  margin-top: 50px;
  color: #fcfbfc;
}
